#app {
  background-color: #fff;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.62rem !important;
    background-color: #356a45;
    align-items: flex-start;
    padding: 0 .4rem;

    img {
      width: 2.18rem;
      height: auto;
    }

    span {
      font-size: .25rem;
      color: #fff;
      margin-top: .213333rem;
    }
  }

  .main {
    padding: .2rem;

    .form {
      padding: 0 .2rem;

      .form-item {
        margin-bottom: .32rem;

        p {
          line-height: .28rem;
          padding-bottom: .12rem;
          font-size: .25rem;
          color: #212121;
        }

        .inp {
          background-color: #f5f5f5;
          border: .01rem solid #c4c4c4;
          border-radius: .053333rem;
          padding-left: .28rem;
          height: .72rem;
          display: flex;
          align-items: center;

          label {
            margin-right: .3rem;
            cursor: pointer;

            span.radio_label {
              font-size: .28rem;
              padding-left: .1rem;
              color: #606266;
              font-weight: 500;
              cursor: pointer;
            }

            span.radio_input {
              position: relative;
              display: inline-block;
              cursor: pointer;
              vertical-align: middle;
              margin-bottom: .02rem;

              span {
                width: .3rem;
                height: .3rem;
                border: .013333rem solid #dcdfe6;
                border-radius: 100%;
                background-color: #fff;
                cursor: pointer;
                box-sizing: border-box;
                display: inline-block;
                position: relative;
              }

              span:after {
                width: .14rem;
                height: .14rem;
                border-radius: 100%;
                background-color: #fff;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
                -webkit-transition: -webkit-transform .15s ease-in;
                transition: -webkit-transform .15s ease-in;
                transition: transform .15s ease-in;
                transition: transform .15s ease-in, -webkit-transform .15s ease-in;
              }

              input {
                opacity: 0;
                outline: 0;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
              }
            }
          }

          label.is-checked {
            span.radio_input {
              span {
                background-color: #356a45;
                border-color: #356a45;
              }

              span:after {
                -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
              }
            }

            span.radio_label {
              color: #356a45;
              font-weight: 700;
            }
          }
        }
      }
    }

    button.cal-btn {
      width: 6.8rem;
      height: .88rem;
      background-color: #356a45;
      margin-top: .94rem;
      color: #fff;
      font-size: .32rem;
      border: none;
    }

    .result-container {
      margin-top: .94rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .cal-box,
      .risk-box {
        width: 100%;
        height: .3rem;
        line-height: .3rem;
        font-size: .26rem;
        color: #356a45;
        display: flex;

        p,
        .result-data {
          width: 46%;
        }

        >div {
          width: 100%;
          height: .3rem;
          border-bottom: .013333rem solid #acacac;
        }
      }

      .risk-box {
        margin: .7rem 0;
      }
    }
  }
}